// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as IsloApi from "../../../index.js";

export declare namespace SharesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Public sandbox port shares
 */
export class SharesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SharesClient.Options>;

    constructor(options: SharesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {IsloApi.ListSharesRequest} request
     * @param {SharesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IsloApi.UnauthorizedError}
     * @throws {@link IsloApi.NotFoundError}
     *
     * @example
     *     await client.shares.listShares({
     *         name: "name"
     *     })
     */
    public listShares(
        request: IsloApi.ListSharesRequest,
        requestOptions?: SharesClient.RequestOptions,
    ): core.HttpResponsePromise<IsloApi.ShareResponse[]> {
        return core.HttpResponsePromise.fromPromise(this.__listShares(request, requestOptions));
    }

    private async __listShares(
        request: IsloApi.ListSharesRequest,
        requestOptions?: SharesClient.RequestOptions,
    ): Promise<core.WithRawResponse<IsloApi.ShareResponse[]>> {
        const { name } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).compute,
                `sandboxes/${core.url.encodePathParam(name)}/shares`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IsloApi.ShareResponse[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new IsloApi.UnauthorizedError(
                        _response.error.body as IsloApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new IsloApi.NotFoundError(
                        _response.error.body as IsloApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.IsloApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/sandboxes/{name}/shares");
    }

    /**
     * @param {IsloApi.CreateShareRequest} request
     * @param {SharesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IsloApi.BadRequestError}
     * @throws {@link IsloApi.UnauthorizedError}
     * @throws {@link IsloApi.NotFoundError}
     *
     * @example
     *     await client.shares.createShare({
     *         name: "name",
     *         port: 1
     *     })
     */
    public createShare(
        request: IsloApi.CreateShareRequest,
        requestOptions?: SharesClient.RequestOptions,
    ): core.HttpResponsePromise<IsloApi.ShareResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createShare(request, requestOptions));
    }

    private async __createShare(
        request: IsloApi.CreateShareRequest,
        requestOptions?: SharesClient.RequestOptions,
    ): Promise<core.WithRawResponse<IsloApi.ShareResponse>> {
        const { name, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).compute,
                `sandboxes/${core.url.encodePathParam(name)}/shares`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IsloApi.ShareResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new IsloApi.BadRequestError(
                        _response.error.body as IsloApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new IsloApi.UnauthorizedError(
                        _response.error.body as IsloApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new IsloApi.NotFoundError(
                        _response.error.body as IsloApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.IsloApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/sandboxes/{name}/shares");
    }

    /**
     * @param {IsloApi.DeleteShareRequest} request
     * @param {SharesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IsloApi.UnauthorizedError}
     * @throws {@link IsloApi.NotFoundError}
     *
     * @example
     *     await client.shares.deleteShare({
     *         name: "name",
     *         share_id: "share_id"
     *     })
     */
    public deleteShare(
        request: IsloApi.DeleteShareRequest,
        requestOptions?: SharesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteShare(request, requestOptions));
    }

    private async __deleteShare(
        request: IsloApi.DeleteShareRequest,
        requestOptions?: SharesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { name, share_id: shareId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).compute,
                `sandboxes/${core.url.encodePathParam(name)}/shares/${core.url.encodePathParam(shareId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new IsloApi.UnauthorizedError(
                        _response.error.body as IsloApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new IsloApi.NotFoundError(
                        _response.error.body as IsloApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.IsloApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/sandboxes/{name}/shares/{share_id}",
        );
    }
}
