// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as IsloApi from "../../../index.js";

export declare namespace ComputeEventsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ComputeEventsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ComputeEventsClient.Options>;

    constructor(options: ComputeEventsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {IsloApi.GetComputeEventRequest} request
     * @param {ComputeEventsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IsloApi.NotFoundError}
     * @throws {@link IsloApi.UnprocessableEntityError}
     *
     * @example
     *     await client.computeEvents.getComputeEvent({
     *         command_id: "command_id"
     *     })
     */
    public getComputeEvent(
        request: IsloApi.GetComputeEventRequest,
        requestOptions?: ComputeEventsClient.RequestOptions,
    ): core.HttpResponsePromise<IsloApi.ComputeEventDetailResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getComputeEvent(request, requestOptions));
    }

    private async __getComputeEvent(
        request: IsloApi.GetComputeEventRequest,
        requestOptions?: ComputeEventsClient.RequestOptions,
    ): Promise<core.WithRawResponse<IsloApi.ComputeEventDetailResponse>> {
        const { command_id: commandId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).control,
                `compute-events/${core.url.encodePathParam(commandId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IsloApi.ComputeEventDetailResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new IsloApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 422:
                    throw new IsloApi.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IsloApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/compute-events/{command_id}");
    }
}
