// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as IsloApi from "../../../index.js";

export declare namespace MachinesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MachinesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<MachinesClient.Options>;

    constructor(options: MachinesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {IsloApi.ListFactoryMachinesRequest} request
     * @param {MachinesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IsloApi.UnprocessableEntityError}
     * @throws {@link errors.IsloApiError}
     * @throws {@link errors.IsloApiTimeoutError}
     *
     * @example
     *     await client.machines.listFactoryMachines({
     *         factory: "factory"
     *     })
     */
    public async listFactoryMachines(
        request: IsloApi.ListFactoryMachinesRequest,
        requestOptions?: MachinesClient.RequestOptions,
    ): Promise<core.Page<IsloApi.MachineResponse, IsloApi.ListPageMachineResponse>> {
        const list = core.HttpResponsePromise.interceptFunction(
            async (
                request: IsloApi.ListFactoryMachinesRequest,
            ): Promise<core.WithRawResponse<IsloApi.ListPageMachineResponse>> => {
                const { factory, limit, cursor, sort } = request;
                const _queryParams: Record<string, unknown> = {
                    limit,
                    cursor,
                    sort,
                };
                const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
                const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
                    _authRequest.headers,
                    this._options?.headers,
                    mergeOnlyDefinedHeaders({
                        "X-Islo-Api-Version": requestOptions?.apiVersion ?? this._options?.apiVersion ?? "2026-09-15",
                    }),
                    requestOptions?.headers,
                );
                const _response = await (this._options.fetcher ?? core.fetcher)({
                    url: core.url.join(
                        (await core.Supplier.get(this._options.baseUrl)) ??
                            (await core.Supplier.get(this._options.environment)).control,
                        `factories/${core.url.encodePathParam(factory)}/machines`,
                    ),
                    method: "GET",
                    headers: _headers,
                    queryString: core.url
                        .queryBuilder()
                        .addMany(_queryParams)
                        .mergeAdditional(requestOptions?.queryParams)
                        .build(),
                    timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
                    maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
                    abortSignal: requestOptions?.abortSignal,
                    fetchFn: this._options?.fetch,
                    logging: this._options.logging,
                });
                if (_response.ok) {
                    return {
                        data: _response.body as IsloApi.ListPageMachineResponse,
                        rawResponse: _response.rawResponse,
                    };
                }
                if (_response.error.reason === "status-code") {
                    switch (_response.error.statusCode) {
                        case 422:
                            throw new IsloApi.UnprocessableEntityError(
                                _response.error.body as unknown,
                                _response.rawResponse,
                            );
                        default:
                            throw new errors.IsloApiError({
                                statusCode: _response.error.statusCode,
                                body: _response.error.body,
                                rawResponse: _response.rawResponse,
                            });
                    }
                }
                return handleNonStatusCodeError(
                    _response.error,
                    _response.rawResponse,
                    "GET",
                    "/factories/{factory}/machines",
                );
            },
        );
        const dataWithRawResponse = await list(request).withRawResponse();
        return new core.Page<IsloApi.MachineResponse, IsloApi.ListPageMachineResponse>({
            response: dataWithRawResponse.data,
            rawResponse: dataWithRawResponse.rawResponse,
            hasNextPage: (response) =>
                response?.next_cursor != null &&
                !(typeof response?.next_cursor === "string" && response?.next_cursor === ""),
            getItems: (response) => response?.items ?? [],
            loadPage: (response) => {
                return list(core.setObjectProperty(request, "cursor", response?.next_cursor));
            },
        });
    }

    /**
     * @param {IsloApi.MachineCreate} request
     * @param {MachinesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IsloApi.UnprocessableEntityError}
     * @throws {@link errors.IsloApiError}
     * @throws {@link errors.IsloApiTimeoutError}
     *
     * @example
     *     await client.machines.createFactoryMachine({
     *         factory: "factory",
     *         name: "name"
     *     })
     */
    public createFactoryMachine(
        request: IsloApi.MachineCreate,
        requestOptions?: MachinesClient.RequestOptions,
    ): core.HttpResponsePromise<IsloApi.MachineResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createFactoryMachine(request, requestOptions));
    }

    private async __createFactoryMachine(
        request: IsloApi.MachineCreate,
        requestOptions?: MachinesClient.RequestOptions,
    ): Promise<core.WithRawResponse<IsloApi.MachineResponse>> {
        const { factory, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Islo-Api-Version": requestOptions?.apiVersion ?? this._options?.apiVersion ?? "2026-09-15",
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).control,
                `factories/${core.url.encodePathParam(factory)}/machines`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IsloApi.MachineResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new IsloApi.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IsloApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/factories/{factory}/machines",
        );
    }

    /**
     * @param {IsloApi.GetFactoryMachineRequest} request
     * @param {MachinesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IsloApi.UnprocessableEntityError}
     * @throws {@link errors.IsloApiError}
     * @throws {@link errors.IsloApiTimeoutError}
     *
     * @example
     *     await client.machines.getFactoryMachine({
     *         factory: "factory",
     *         name: "name"
     *     })
     */
    public getFactoryMachine(
        request: IsloApi.GetFactoryMachineRequest,
        requestOptions?: MachinesClient.RequestOptions,
    ): core.HttpResponsePromise<IsloApi.MachineResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getFactoryMachine(request, requestOptions));
    }

    private async __getFactoryMachine(
        request: IsloApi.GetFactoryMachineRequest,
        requestOptions?: MachinesClient.RequestOptions,
    ): Promise<core.WithRawResponse<IsloApi.MachineResponse>> {
        const { factory, name } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Islo-Api-Version": requestOptions?.apiVersion ?? this._options?.apiVersion ?? "2026-09-15",
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).control,
                `factories/${core.url.encodePathParam(factory)}/machines/${core.url.encodePathParam(name)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IsloApi.MachineResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new IsloApi.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IsloApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/factories/{factory}/machines/{name}",
        );
    }

    /**
     * @param {IsloApi.DeleteFactoryMachineRequest} request
     * @param {MachinesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IsloApi.NotFoundError}
     * @throws {@link IsloApi.ConflictError}
     * @throws {@link IsloApi.UnprocessableEntityError}
     * @throws {@link errors.IsloApiError}
     * @throws {@link errors.IsloApiTimeoutError}
     *
     * @example
     *     await client.machines.deleteFactoryMachine({
     *         factory: "factory",
     *         name: "name"
     *     })
     */
    public deleteFactoryMachine(
        request: IsloApi.DeleteFactoryMachineRequest,
        requestOptions?: MachinesClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteFactoryMachine(request, requestOptions));
    }

    private async __deleteFactoryMachine(
        request: IsloApi.DeleteFactoryMachineRequest,
        requestOptions?: MachinesClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { factory, name } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Islo-Api-Version": requestOptions?.apiVersion ?? this._options?.apiVersion ?? "2026-09-15",
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).control,
                `factories/${core.url.encodePathParam(factory)}/machines/${core.url.encodePathParam(name)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 404:
                    throw new IsloApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 409:
                    throw new IsloApi.ConflictError(
                        _response.error.body as IsloApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 422:
                    throw new IsloApi.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IsloApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/factories/{factory}/machines/{name}",
        );
    }

    /**
     * @param {IsloApi.MachineUpdate} request
     * @param {MachinesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IsloApi.UnprocessableEntityError}
     * @throws {@link errors.IsloApiError}
     * @throws {@link errors.IsloApiTimeoutError}
     *
     * @example
     *     await client.machines.updateFactoryMachine({
     *         factory: "factory",
     *         name: "name"
     *     })
     */
    public updateFactoryMachine(
        request: IsloApi.MachineUpdate,
        requestOptions?: MachinesClient.RequestOptions,
    ): core.HttpResponsePromise<IsloApi.MachineResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateFactoryMachine(request, requestOptions));
    }

    private async __updateFactoryMachine(
        request: IsloApi.MachineUpdate,
        requestOptions?: MachinesClient.RequestOptions,
    ): Promise<core.WithRawResponse<IsloApi.MachineResponse>> {
        const { factory, name, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Islo-Api-Version": requestOptions?.apiVersion ?? this._options?.apiVersion ?? "2026-09-15",
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).control,
                `factories/${core.url.encodePathParam(factory)}/machines/${core.url.encodePathParam(name)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IsloApi.MachineResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new IsloApi.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IsloApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/factories/{factory}/machines/{name}",
        );
    }

    /**
     * @param {IsloApi.BuildFactoryMachineRequest} request
     * @param {MachinesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IsloApi.UnprocessableEntityError}
     * @throws {@link errors.IsloApiError}
     * @throws {@link errors.IsloApiTimeoutError}
     *
     * @example
     *     await client.machines.buildFactoryMachine({
     *         factory: "factory",
     *         name: "name"
     *     })
     */
    public buildFactoryMachine(
        request: IsloApi.BuildFactoryMachineRequest,
        requestOptions?: MachinesClient.RequestOptions,
    ): core.HttpResponsePromise<IsloApi.MachineResponse> {
        return core.HttpResponsePromise.fromPromise(this.__buildFactoryMachine(request, requestOptions));
    }

    private async __buildFactoryMachine(
        request: IsloApi.BuildFactoryMachineRequest,
        requestOptions?: MachinesClient.RequestOptions,
    ): Promise<core.WithRawResponse<IsloApi.MachineResponse>> {
        const { factory, name } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "X-Islo-Api-Version": requestOptions?.apiVersion ?? this._options?.apiVersion ?? "2026-09-15",
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).control,
                `factories/${core.url.encodePathParam(factory)}/machines/${core.url.encodePathParam(name)}/build`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IsloApi.MachineResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new IsloApi.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IsloApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/factories/{factory}/machines/{name}/build",
        );
    }
}
