// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as IsloApi from "../../../index.js";

export declare namespace ByoClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Bring Your Own model setup
 */
export class ByoClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ByoClient.Options>;

    constructor(options: ByoClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {ByoClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IsloApi.UnauthorizedError}
     * @throws {@link IsloApi.UnprocessableEntityError}
     *
     * @example
     *     await client.byo.getByoInferenceStatus()
     */
    public getByoInferenceStatus(
        requestOptions?: ByoClient.RequestOptions,
    ): core.HttpResponsePromise<IsloApi.ByoStatusResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getByoInferenceStatus(requestOptions));
    }

    private async __getByoInferenceStatus(
        requestOptions?: ByoClient.RequestOptions,
    ): Promise<core.WithRawResponse<IsloApi.ByoStatusResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).control,
                "byo/inference/status",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IsloApi.ByoStatusResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new IsloApi.UnauthorizedError(
                        _response.error.body as IsloApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 422:
                    throw new IsloApi.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IsloApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/byo/inference/status");
    }

    /**
     * @param {IsloApi.ByoSetupRequest} request
     * @param {ByoClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IsloApi.UnauthorizedError}
     * @throws {@link IsloApi.ForbiddenError}
     * @throws {@link IsloApi.UnprocessableEntityError}
     * @throws {@link IsloApi.BadGatewayError}
     *
     * @example
     *     await client.byo.startByoInferenceSetup({
     *         source_kind: "databricks"
     *     })
     */
    public startByoInferenceSetup(
        request: IsloApi.ByoSetupRequest,
        requestOptions?: ByoClient.RequestOptions,
    ): core.HttpResponsePromise<IsloApi.ByoSetupResponse> {
        return core.HttpResponsePromise.fromPromise(this.__startByoInferenceSetup(request, requestOptions));
    }

    private async __startByoInferenceSetup(
        request: IsloApi.ByoSetupRequest,
        requestOptions?: ByoClient.RequestOptions,
    ): Promise<core.WithRawResponse<IsloApi.ByoSetupResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).control,
                "byo/inference/start-setup",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IsloApi.ByoSetupResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new IsloApi.UnauthorizedError(
                        _response.error.body as IsloApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 403:
                    throw new IsloApi.ForbiddenError(
                        _response.error.body as IsloApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 422:
                    throw new IsloApi.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                case 502:
                    throw new IsloApi.BadGatewayError(
                        _response.error.body as IsloApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.IsloApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/byo/inference/start-setup");
    }
}
