// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as IsloApi from "../../../index.js";

export declare namespace CreditsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class CreditsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CreditsClient.Options>;

    constructor(options: CreditsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {CreditsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IsloApi.UnprocessableEntityError}
     *
     * @example
     *     await client.credits.getCreditBalance()
     */
    public getCreditBalance(
        requestOptions?: CreditsClient.RequestOptions,
    ): core.HttpResponsePromise<IsloApi.CreditBalance> {
        return core.HttpResponsePromise.fromPromise(this.__getCreditBalance(requestOptions));
    }

    private async __getCreditBalance(
        requestOptions?: CreditsClient.RequestOptions,
    ): Promise<core.WithRawResponse<IsloApi.CreditBalance>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "credits/balance",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IsloApi.CreditBalance, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new IsloApi.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IsloApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/credits/balance");
    }

    /**
     * @param {IsloApi.CreateCheckoutRequest} request
     * @param {CreditsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IsloApi.UnprocessableEntityError}
     *
     * @example
     *     await client.credits.createCreditCheckout({
     *         amount_cents: 1
     *     })
     */
    public createCreditCheckout(
        request: IsloApi.CreateCheckoutRequest,
        requestOptions?: CreditsClient.RequestOptions,
    ): core.HttpResponsePromise<IsloApi.CreateCheckoutResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createCreditCheckout(request, requestOptions));
    }

    private async __createCreditCheckout(
        request: IsloApi.CreateCheckoutRequest,
        requestOptions?: CreditsClient.RequestOptions,
    ): Promise<core.WithRawResponse<IsloApi.CreateCheckoutResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "credits/checkout",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IsloApi.CreateCheckoutResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new IsloApi.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IsloApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/credits/checkout");
    }

    /**
     * @param {IsloApi.HandlePaddleWebhookRequest} request
     * @param {CreditsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IsloApi.UnprocessableEntityError}
     *
     * @example
     *     await client.credits.handlePaddleWebhook({
     *         "paddle-signature": "paddleSignature",
     *         body: {
     *             "key": "value"
     *         }
     *     })
     */
    public handlePaddleWebhook(
        request: IsloApi.HandlePaddleWebhookRequest,
        requestOptions?: CreditsClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__handlePaddleWebhook(request, requestOptions));
    }

    private async __handlePaddleWebhook(
        request: IsloApi.HandlePaddleWebhookRequest,
        requestOptions?: CreditsClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { "paddle-signature": paddleSignature, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "paddle-signature": paddleSignature }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "credits/paddle_webhook",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new IsloApi.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IsloApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/credits/paddle_webhook");
    }
}
