// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Islo from "../../../index.js";

export declare namespace IntegrationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Third-party integrations
 */
export class IntegrationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<IntegrationsClient.Options>;

    constructor(options: IntegrationsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List available integration providers.
     *
     * Returns provider names and their supported hosts.
     *
     * @param {IntegrationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.integrations.listIntegrationProviders()
     */
    public listIntegrationProviders(
        requestOptions?: IntegrationsClient.RequestOptions,
    ): core.HttpResponsePromise<Islo.IntegrationProvidersResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listIntegrationProviders(requestOptions));
    }

    private async __listIntegrationProviders(
        requestOptions?: IntegrationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Islo.IntegrationProvidersResponse>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "x-public-tenant-id": requestOptions?.publicTenantId ?? this._options?.publicTenantId,
                "x-public-user-id": requestOptions?.publicUserId ?? this._options?.publicUserId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "integrations/providers",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Islo.IntegrationProvidersResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.IsloError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/integrations/providers");
    }

    /**
     * List all integrations for the current user and tenant.
     *
     * Shows both user-level and tenant-level integrations.
     * User-level integrations take precedence in display.
     *
     * @param {IntegrationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Islo.UnauthorizedError}
     * @throws {@link Islo.UnprocessableEntityError}
     *
     * @example
     *     await client.integrations.listIntegrations()
     */
    public listIntegrations(
        requestOptions?: IntegrationsClient.RequestOptions,
    ): core.HttpResponsePromise<Islo.IntegrationListResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listIntegrations(requestOptions));
    }

    private async __listIntegrations(
        requestOptions?: IntegrationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Islo.IntegrationListResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "x-public-tenant-id": requestOptions?.publicTenantId ?? this._options?.publicTenantId,
                "x-public-user-id": requestOptions?.publicUserId ?? this._options?.publicUserId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "integrations",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Islo.IntegrationListResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Islo.UnauthorizedError(_response.error.body as Islo.ErrorResponse, _response.rawResponse);
                case 422:
                    throw new Islo.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IsloError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/integrations");
    }

    /**
     * Get the detailed status of a specific integration.
     *
     * Returns both user-level and tenant-level connection status independently.
     *
     * @param {Islo.GetIntegrationStatusRequest} request
     * @param {IntegrationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Islo.UnauthorizedError}
     * @throws {@link Islo.NotFoundError}
     * @throws {@link Islo.UnprocessableEntityError}
     *
     * @example
     *     await client.integrations.getIntegrationStatus({
     *         provider: "provider"
     *     })
     */
    public getIntegrationStatus(
        request: Islo.GetIntegrationStatusRequest,
        requestOptions?: IntegrationsClient.RequestOptions,
    ): core.HttpResponsePromise<Islo.IntegrationDetailResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getIntegrationStatus(request, requestOptions));
    }

    private async __getIntegrationStatus(
        request: Islo.GetIntegrationStatusRequest,
        requestOptions?: IntegrationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Islo.IntegrationDetailResponse>> {
        const { provider } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "x-public-tenant-id": requestOptions?.publicTenantId ?? this._options?.publicTenantId,
                "x-public-user-id": requestOptions?.publicUserId ?? this._options?.publicUserId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `integrations/${core.url.encodePathParam(provider)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Islo.IntegrationDetailResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Islo.UnauthorizedError(_response.error.body as Islo.ErrorResponse, _response.rawResponse);
                case 404:
                    throw new Islo.NotFoundError(_response.error.body as Islo.ErrorResponse, _response.rawResponse);
                case 422:
                    throw new Islo.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IsloError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/integrations/{provider}");
    }

    /**
     * Disconnect/revoke an integration.
     *
     * Args:
     *     provider: Provider name
     *     level: Which level to disconnect (USER or TENANT)
     *
     * @param {Islo.DisconnectIntegrationRequest} request
     * @param {IntegrationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Islo.BadRequestError}
     * @throws {@link Islo.UnauthorizedError}
     * @throws {@link Islo.NotFoundError}
     * @throws {@link Islo.UnprocessableEntityError}
     *
     * @example
     *     await client.integrations.disconnectIntegration({
     *         provider: "provider"
     *     })
     */
    public disconnectIntegration(
        request: Islo.DisconnectIntegrationRequest,
        requestOptions?: IntegrationsClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, unknown>> {
        return core.HttpResponsePromise.fromPromise(this.__disconnectIntegration(request, requestOptions));
    }

    private async __disconnectIntegration(
        request: Islo.DisconnectIntegrationRequest,
        requestOptions?: IntegrationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, unknown>>> {
        const { provider, level } = request;
        const _queryParams: Record<string, unknown> = {
            level: level != null ? level : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "x-public-tenant-id": requestOptions?.publicTenantId ?? this._options?.publicTenantId,
                "x-public-user-id": requestOptions?.publicUserId ?? this._options?.publicUserId,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `integrations/${core.url.encodePathParam(provider)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, unknown>, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Islo.BadRequestError(_response.error.body as Islo.ErrorResponse, _response.rawResponse);
                case 401:
                    throw new Islo.UnauthorizedError(_response.error.body as Islo.ErrorResponse, _response.rawResponse);
                case 404:
                    throw new Islo.NotFoundError(_response.error.body as Islo.ErrorResponse, _response.rawResponse);
                case 422:
                    throw new Islo.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IsloError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/integrations/{provider}");
    }
}
