// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as IsloApi from "../../../index.js";

export declare namespace JobRunsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class JobRunsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<JobRunsClient.Options>;

    constructor(options: JobRunsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {IsloApi.ListAllJobRunsRequest} request
     * @param {JobRunsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IsloApi.UnprocessableEntityError}
     *
     * @example
     *     await client.jobRuns.listAllJobRuns()
     */
    public listAllJobRuns(
        request: IsloApi.ListAllJobRunsRequest = {},
        requestOptions?: JobRunsClient.RequestOptions,
    ): core.HttpResponsePromise<IsloApi.JobRunResponse[]> {
        return core.HttpResponsePromise.fromPromise(this.__listAllJobRuns(request, requestOptions));
    }

    private async __listAllJobRuns(
        request: IsloApi.ListAllJobRunsRequest = {},
        requestOptions?: JobRunsClient.RequestOptions,
    ): Promise<core.WithRawResponse<IsloApi.JobRunResponse[]>> {
        const { limit, offset, status } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            offset,
            status: status !== undefined ? status : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).control,
                "job-runs",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IsloApi.JobRunResponse[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new IsloApi.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IsloApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/job-runs");
    }

    /**
     * @param {IsloApi.GetJobRunByIdRequest} request
     * @param {JobRunsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IsloApi.UnprocessableEntityError}
     *
     * @example
     *     await client.jobRuns.getJobRunById({
     *         run_id: "run_id"
     *     })
     */
    public getJobRunById(
        request: IsloApi.GetJobRunByIdRequest,
        requestOptions?: JobRunsClient.RequestOptions,
    ): core.HttpResponsePromise<IsloApi.JobRunResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getJobRunById(request, requestOptions));
    }

    private async __getJobRunById(
        request: IsloApi.GetJobRunByIdRequest,
        requestOptions?: JobRunsClient.RequestOptions,
    ): Promise<core.WithRawResponse<IsloApi.JobRunResponse>> {
        const { run_id: runId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).control,
                `job-runs/${core.url.encodePathParam(runId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IsloApi.JobRunResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new IsloApi.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IsloApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/job-runs/{run_id}");
    }
}
