// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as IsloApi from "../../../index.js";

export declare namespace WebhooksClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Incoming webhook receivers
 */
export class WebhooksClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<WebhooksClient.Options>;

    constructor(options: WebhooksClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * List active incoming webhooks for the tenant.
     *
     * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IsloApi.UnauthorizedError}
     *
     * @example
     *     await client.webhooks.listIncomingWebhooks()
     */
    public listIncomingWebhooks(
        requestOptions?: WebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<IsloApi.IncomingWebhook[]> {
        return core.HttpResponsePromise.fromPromise(this.__listIncomingWebhooks(requestOptions));
    }

    private async __listIncomingWebhooks(
        requestOptions?: WebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<IsloApi.IncomingWebhook[]>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).compute,
                "webhooks/incoming",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IsloApi.IncomingWebhook[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new IsloApi.UnauthorizedError(
                        _response.error.body as IsloApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.IsloApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/webhooks/incoming");
    }

    /**
     * Create a tenant-scoped incoming webhook receiver. The receiver URL accepts external webhook deliveries and routes them to a resolved sandbox.
     *
     * @param {IsloApi.IncomingWebhookCreate} request
     * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IsloApi.BadRequestError}
     * @throws {@link IsloApi.UnauthorizedError}
     *
     * @example
     *     await client.webhooks.createIncomingWebhook({
     *         auth: {
     *             auth_type: "none"
     *         },
     *         idempotency: {
     *             source: "header",
     *             name: "name"
     *         },
     *         name: "name",
     *         target: {
     *             target_type: "fixed_sandbox_name",
     *             sandbox_name: "sandbox_name"
     *         }
     *     })
     */
    public createIncomingWebhook(
        request: IsloApi.IncomingWebhookCreate,
        requestOptions?: WebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<IsloApi.IncomingWebhook> {
        return core.HttpResponsePromise.fromPromise(this.__createIncomingWebhook(request, requestOptions));
    }

    private async __createIncomingWebhook(
        request: IsloApi.IncomingWebhookCreate,
        requestOptions?: WebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<IsloApi.IncomingWebhook>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).compute,
                "webhooks/incoming",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IsloApi.IncomingWebhook, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new IsloApi.BadRequestError(
                        _response.error.body as IsloApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new IsloApi.UnauthorizedError(
                        _response.error.body as IsloApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.IsloApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/webhooks/incoming");
    }

    /**
     * Get one incoming webhook by ID.
     *
     * @param {IsloApi.GetIncomingWebhookRequest} request
     * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IsloApi.UnauthorizedError}
     * @throws {@link IsloApi.NotFoundError}
     *
     * @example
     *     await client.webhooks.getIncomingWebhook({
     *         webhook_id: "webhook_id"
     *     })
     */
    public getIncomingWebhook(
        request: IsloApi.GetIncomingWebhookRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<IsloApi.IncomingWebhook> {
        return core.HttpResponsePromise.fromPromise(this.__getIncomingWebhook(request, requestOptions));
    }

    private async __getIncomingWebhook(
        request: IsloApi.GetIncomingWebhookRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<IsloApi.IncomingWebhook>> {
        const { webhook_id: webhookId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).compute,
                `webhooks/incoming/${core.url.encodePathParam(webhookId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IsloApi.IncomingWebhook, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new IsloApi.UnauthorizedError(
                        _response.error.body as IsloApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new IsloApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IsloApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/webhooks/incoming/{webhook_id}",
        );
    }

    /**
     * Soft-delete an incoming webhook receiver.
     *
     * @param {IsloApi.DeleteIncomingWebhookRequest} request
     * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IsloApi.UnauthorizedError}
     * @throws {@link IsloApi.NotFoundError}
     *
     * @example
     *     await client.webhooks.deleteIncomingWebhook({
     *         webhook_id: "webhook_id"
     *     })
     */
    public deleteIncomingWebhook(
        request: IsloApi.DeleteIncomingWebhookRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteIncomingWebhook(request, requestOptions));
    }

    private async __deleteIncomingWebhook(
        request: IsloApi.DeleteIncomingWebhookRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { webhook_id: webhookId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).compute,
                `webhooks/incoming/${core.url.encodePathParam(webhookId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new IsloApi.UnauthorizedError(
                        _response.error.body as IsloApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new IsloApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IsloApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/webhooks/incoming/{webhook_id}",
        );
    }

    /**
     * Partially update an incoming webhook receiver. Provided top-level fields replace the existing values.
     *
     * @param {IsloApi.IncomingWebhookUpdate} request
     * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IsloApi.BadRequestError}
     * @throws {@link IsloApi.UnauthorizedError}
     * @throws {@link IsloApi.NotFoundError}
     *
     * @example
     *     await client.webhooks.updateIncomingWebhook({
     *         webhook_id: "webhook_id"
     *     })
     */
    public updateIncomingWebhook(
        request: IsloApi.IncomingWebhookUpdate,
        requestOptions?: WebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<IsloApi.IncomingWebhook> {
        return core.HttpResponsePromise.fromPromise(this.__updateIncomingWebhook(request, requestOptions));
    }

    private async __updateIncomingWebhook(
        request: IsloApi.IncomingWebhookUpdate,
        requestOptions?: WebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<IsloApi.IncomingWebhook>> {
        const { webhook_id: webhookId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).compute,
                `webhooks/incoming/${core.url.encodePathParam(webhookId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IsloApi.IncomingWebhook, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new IsloApi.BadRequestError(
                        _response.error.body as IsloApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new IsloApi.UnauthorizedError(
                        _response.error.body as IsloApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new IsloApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IsloApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/webhooks/incoming/{webhook_id}",
        );
    }

    /**
     * List delivery events for an incoming webhook, with optional status and date filters.
     *
     * @param {IsloApi.ListWebhookDeliveriesRequest} request
     * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IsloApi.UnauthorizedError}
     * @throws {@link IsloApi.NotFoundError}
     *
     * @example
     *     await client.webhooks.listWebhookDeliveries({
     *         webhook_id: "webhook_id"
     *     })
     */
    public listWebhookDeliveries(
        request: IsloApi.ListWebhookDeliveriesRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<IsloApi.WebhookDeliverySummary[]> {
        return core.HttpResponsePromise.fromPromise(this.__listWebhookDeliveries(request, requestOptions));
    }

    private async __listWebhookDeliveries(
        request: IsloApi.ListWebhookDeliveriesRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<IsloApi.WebhookDeliverySummary[]>> {
        const { webhook_id: webhookId, limit, offset, status, from: from_, to } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            offset,
            status: status !== undefined ? status : undefined,
            from: from_ !== undefined ? from_ : undefined,
            to: to !== undefined ? to : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).compute,
                `webhooks/incoming/${core.url.encodePathParam(webhookId)}/deliveries`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IsloApi.WebhookDeliverySummary[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new IsloApi.UnauthorizedError(
                        _response.error.body as IsloApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new IsloApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IsloApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/webhooks/incoming/{webhook_id}/deliveries",
        );
    }

    /**
     * Get full detail for a single webhook delivery event, including a truncated body preview and action attempts.
     *
     * @param {IsloApi.GetWebhookDeliveryRequest} request
     * @param {WebhooksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IsloApi.UnauthorizedError}
     * @throws {@link IsloApi.NotFoundError}
     *
     * @example
     *     await client.webhooks.getWebhookDelivery({
     *         webhook_id: "webhook_id",
     *         event_id: "event_id"
     *     })
     */
    public getWebhookDelivery(
        request: IsloApi.GetWebhookDeliveryRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): core.HttpResponsePromise<IsloApi.WebhookDeliveryDetail> {
        return core.HttpResponsePromise.fromPromise(this.__getWebhookDelivery(request, requestOptions));
    }

    private async __getWebhookDelivery(
        request: IsloApi.GetWebhookDeliveryRequest,
        requestOptions?: WebhooksClient.RequestOptions,
    ): Promise<core.WithRawResponse<IsloApi.WebhookDeliveryDetail>> {
        const { webhook_id: webhookId, event_id: eventId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)).compute,
                `webhooks/incoming/${core.url.encodePathParam(webhookId)}/deliveries/${core.url.encodePathParam(eventId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IsloApi.WebhookDeliveryDetail, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new IsloApi.UnauthorizedError(
                        _response.error.body as IsloApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 404:
                    throw new IsloApi.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IsloApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/webhooks/incoming/{webhook_id}/deliveries/{event_id}",
        );
    }
}
