// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as IsloApi from "../../../index.js";

export declare namespace GatewayInternalClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class GatewayInternalClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<GatewayInternalClient.Options>;

    constructor(options: GatewayInternalClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Policy endpoint keyed by (tenant_id, profile_key) instead of sandbox lookup.
     *
     * Eliminates the race where vm_id isn't yet committed to Postgres.
     * ``x_sandbox_id`` is accepted for tracing but not used for policy resolution.
     *
     * Returns 404 (not a permissive default) when the profile is not found — this is
     * intentional: a missing key means something is misconfigured, so the gateway should
     * fail closed (503) rather than silently allow traffic.
     *
     * @param {IsloApi.GetGatewayPolicyByKeyRequest} request
     * @param {GatewayInternalClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IsloApi.UnprocessableEntityError}
     *
     * @example
     *     await client.gatewayInternal.getGatewayPolicyByKey({
     *         profile_key: "profile_key"
     *     })
     */
    public getGatewayPolicyByKey(
        request: IsloApi.GetGatewayPolicyByKeyRequest,
        requestOptions?: GatewayInternalClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__getGatewayPolicyByKey(request, requestOptions));
    }

    private async __getGatewayPolicyByKey(
        request: IsloApi.GetGatewayPolicyByKeyRequest,
        requestOptions?: GatewayInternalClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const {
            profile_key: profileKey,
            "x-sandbox-id": sandboxId,
            "if-none-match": ifNoneMatch,
            "x-public-tenant-id": publicTenantId,
            "x-public-user-id": publicUserId,
        } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({
                "x-sandbox-id": sandboxId ?? undefined,
                "if-none-match": ifNoneMatch ?? undefined,
                "x-public-tenant-id": publicTenantId ?? undefined,
                "x-public-user-id": publicUserId ?? undefined,
            }),
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `internal/gateway/policy/${core.url.encodePathParam(profileKey)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new IsloApi.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.IsloApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/internal/gateway/policy/{profile_key}",
        );
    }
}
