// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as IsloApi from "../../../index.js";

export declare namespace CertificateAuthorityClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * SSH certificate authority
 */
export class CertificateAuthorityClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CertificateAuthorityClient.Options>;

    constructor(options: CertificateAuthorityClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Get the CA public key for trusting SSH certificates (unauthenticated).
     *
     * @param {CertificateAuthorityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IsloApi.ServiceUnavailableError}
     *
     * @example
     *     await client.certificateAuthority.getCaPublicKey()
     */
    public getCaPublicKey(
        requestOptions?: CertificateAuthorityClient.RequestOptions,
    ): core.HttpResponsePromise<IsloApi.CaPublicKeyResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getCaPublicKey(requestOptions));
    }

    private async __getCaPublicKey(
        requestOptions?: CertificateAuthorityClient.RequestOptions,
    ): Promise<core.WithRawResponse<IsloApi.CaPublicKeyResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "certificate-authority/public-key",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IsloApi.CaPublicKeyResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 503:
                    throw new IsloApi.ServiceUnavailableError(
                        _response.error.body as IsloApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.IsloApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/certificate-authority/public-key",
        );
    }

    /**
     * Sign an SSH public key with the ISLO CA for sandbox access.
     *
     * @param {IsloApi.SshCertificateRequest} request
     * @param {CertificateAuthorityClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IsloApi.BadRequestError}
     * @throws {@link IsloApi.UnauthorizedError}
     * @throws {@link IsloApi.UnprocessableEntityError}
     * @throws {@link IsloApi.ServiceUnavailableError}
     *
     * @example
     *     await client.certificateAuthority.createSshCertificate({
     *         public_key: "public_key"
     *     })
     */
    public createSshCertificate(
        request: IsloApi.SshCertificateRequest,
        requestOptions?: CertificateAuthorityClient.RequestOptions,
    ): core.HttpResponsePromise<IsloApi.SshCertificateResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createSshCertificate(request, requestOptions));
    }

    private async __createSshCertificate(
        request: IsloApi.SshCertificateRequest,
        requestOptions?: CertificateAuthorityClient.RequestOptions,
    ): Promise<core.WithRawResponse<IsloApi.SshCertificateResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await (this._options.fetcher ?? core.fetcher)({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "certificate-authority/",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IsloApi.SshCertificateResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new IsloApi.BadRequestError(
                        _response.error.body as IsloApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 401:
                    throw new IsloApi.UnauthorizedError(
                        _response.error.body as IsloApi.ErrorResponse,
                        _response.rawResponse,
                    );
                case 422:
                    throw new IsloApi.UnprocessableEntityError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new IsloApi.ServiceUnavailableError(
                        _response.error.body as IsloApi.ErrorResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.IsloApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/certificate-authority/");
    }
}
